altgraph==0.17
appdirs==1.4.4
APScheduler==3.6.3
arrow==0.13.1
asgiref==3.2.10
astroid==2.2.5
atomicwrites==1.3.0
attrs==20.3.0
Automat==20.2.0
backcall==0.2.0
beautifulsoup4==4.9.0
behave==1.2.6
boto3==1.17.90
botocore==1.20.90
bs4==0.0.1
cairocffi==1.2.0
CairoSVG==2.5.1
certifi==2020.6.20
cffi==1.14.4
chardet==3.0.4
chromedriver==2.24.1
clarifai==2.6.2
Click==7.0
colorama==0.4.1
configparser==3.8.1
constantly==15.1.0
crayons==0.4.0
cryptography==3.4.6
cssselect==1.1.0
cssselect2==0.4.1
cycler==0.10.0
databind.core==1.0.1
databind.json==1.0.1
dateparser==1.0.0
decorator==5.0.7
defusedxml==0.6.0
distlib==0.3.0
Django==3.0.3
django-tempus-dominus==5.1.2.13
docformatter==1.3.1
docker==5.0.0
docopt==0.6.2
docspec==1.0.1
docspec-python==1.0.1
EasyProcess==0.3
emoji==1.2.0
filelock==3.0.12
fire==0.2.1
Flask==1.0.2
Flask-Cors==3.0.8
future==0.18.2
gdb==0.0.1
googleapis-common-protos==1.53.0
googlemaps==4.2.0
grpcio==1.36.1
h2==3.2.0
hpack==3.0.0
html5lib==1.1
hyperframe==5.2.0
hyperlink==21.0.0
idna==2.9
importlib-metadata==1.6.0
incremental==21.3.0
instapy==0.6.8
ipykernel==5.5.3
ipython==7.22.0
ipython-genutils==0.2.0
isort==4.3.15
itemadapter==0.2.0
itemloaders==1.0.4
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.10.1
jmespath==0.10.0
joblib==0.17.0
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
keyboard==0.13.5
kiwisolver==1.2.0
lazy-object-proxy==1.3.1
lxml==4.5.1
MarkupSafe==1.1.1
matplotlib==3.3.2
mccabe==0.6.1
MeaningCloud-python==2.0.0
more-itertools==7.0.0
MouseInfo==0.1.3
nltk==3.5
nr.collections==0.1.1
nr.fs==1.6.3
nr.metaclass==0.0.6
nr.optional==0.1.1
nr.parsing.date==1.0.2
nr.preconditions==0.0.4
nr.pylang.utils==0.1.3
nr.stream==0.1.2
nr.utils.re==0.3.1
numpy==1.19.2
opencv-python==4.5.1.48
pandas==1.1.3
parse==1.19.0
parse-type==0.5.2
parsel==1.6.0
parso==0.8.2
pbr==5.4.5
pefile==2021.5.24
pep8==1.7.1
phantomjs==1.4.1
picketer==1.0.0
pickleshare==0.7.5
Pillow==7.2.0
pipreqs==0.4.10
pluggy==0.9.0
plyer==2.0.0
prettyprint==0.1.5
priority==1.3.0
prompt-toolkit==3.0.18
Protego==0.1.16
protobuf==3.15.6
py==1.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.52
pycparser==2.20
PyDispatcher==2.0.5
PyGetWindow==0.0.9
Pygments==2.8.1
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
pylint==2.3.1
PyMsgBox==1.0.9
pynput==1.7.3
pyodbc==4.0.30
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyperclip==1.8.2
Pyphen==0.10.0
pypiwin32==223
PyRect==0.1.4
pyrsistent==0.17.3
PyScreeze==0.1.26
pytest==4.3.1
python-dateutil==2.8.0
python-dotenv==0.13.0
python-http-client==3.3.2
python-telegram-bot==13.4.1
python2==1.2
PyTweening==1.0.3
pytz==2019.3
pywin32==227
pywin32-ctypes==0.2.0
PyYAML==5.4.1
pyzmq==22.0.3
queuelib==1.5.0
regex==2020.11.13
reportlab==3.5.58
requests==2.23.0
s3transfer==0.4.2
scikit-learn==0.23.2
scipy==1.5.2
Scrapy==2.5.0
selenium==3.141.0
sendgrid==6.6.0
sentencepiece==0.1.94
service-identity==18.1.0
Shapely==1.7.1
shrimpy==0.1.13
six==1.12.0
sklearn==0.0
soupsieve==2.0
sqlparse==0.3.1
starkbank-ecdsa==1.1.0
stevedore==1.32.0
termcolor==1.1.0
threadpoolctl==2.1.0
ticketpy==1.1.2
tinycss2==1.1.0
toml==0.10.2
torch==1.2.0
torchtext==0.6.0
torchvision==0.4.0
tornado==6.1
tqdm==4.51.0
tradingview-ta==3.2.3
traitlets==5.0.5
Twisted==21.2.0
twisted-iocpsupport==1.0.1
typed-ast==1.3.1
typing-extensions==3.10.0.0
tzlocal==2.1
untokenize==0.1.1
urllib3==1.25.8
virtualenv==20.0.21
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
virtualenvwrapper-win==1.2.6
w3lib==1.22.0
watchdog==2.1.3
wcwidth==0.2.5
WeasyPrint==52.2
webdriver-manager==3.3.0
webdriverdownloader==1.1.0.3
webencodings==0.5.1
websocket-client==0.58.0
Werkzeug==0.15.2
wrapt==1.11.1
yarg==0.1.9
zipp==3.1.0
zope.interface==5.4.0
